* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
}

body {
  background: linear-gradient(90deg, #C7C5F4, #776BCC);
  margin: 0; /* Ensure no default body margin */
  height: 100vh; /* Full viewport height */
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh; /* Ensure container takes full viewport height */
}

.screen {
  background: linear-gradient(90deg, #5D54A4, #7C78B8);
  position: relative;
  height: 75vh; /* Initial height, adjust as needed */
  width: 360px;
  box-shadow: 0px 0px 24px #5C5696;
  justify-content: center;
  align-items: center;
}

.screen__content {
  z-index: 1;
  position: relative;
  height: 100%;
}


.screen__background {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  clip-path: inset(0 0 0 0);
}

.screen__background__shape {
  transform: rotate(45deg);
  position: absolute;
}

.screen__background__shape1 {
  height: 520px;
  width: 520px;
  background: #FFF;
  top: -50px;
  right: 120px;
  border-radius: 0 72px 0 0;
}
.login {
  width: 320px;
  padding: 30px;
  padding-top: 156px;
}

.login__field {
  padding: 20px 10px;
  position: relative;
}


.login__input {
  border: none;
  border-bottom: 2px solid #D1D1D4;
  background: none;
  padding: 10px;
  padding-left: 24px;
  font-weight: 700;
  width: 75%;
  transition: .2s;
}

.login__submit {
  background: #fff;
  font-size: 14px;
  margin-top: 30px;
  padding: 16px 20px;
  border-radius: 26px;
  border: 1px solid #D4D3E8;
  font-weight: 700;
  width: 100%;
  color: #4C489D;
  box-shadow: 0px 2px 2px #5C5696;
}
